// Styles for the beta ribbon.

.au-ribbon {
  @include AU-space( padding, 0.5unit );
  border-bottom: 4px solid $AU-color-beta;
  p {
    @include AU-fontgrid( xs, nospace );
    max-width: none;
  }
  span.stage-beta {
    color: $AU-color-foreground-text-beta;
    font-weight: bold;
  }
}
