// A basic mixin to supply the cards for blogs and news items.
@mixin cards-blogs-news {
  .au-card-list {
    @include AU-card-cta-link($AU-color-foreground-text);
    * {
      font-weight: normal;
    }
    > li {
      @include AU-space( margin, 0 auto 2unit auto );
      @include AU-space( padding, 0unit );
      @include AU-space( max-width, 23.5unit );
      @include AU-space( min-height, 30.5unit );
      @include AU-media( sm ) {
        @include AU-space( padding, 0 0.75unit)
      }
    }
  }
  .au-card {
    @include AU-space( padding, 2unit );
    &.au-cta-link {
      @include AU-space( margin, 0 );
      &:after {
        @include AU-space( margin-top, -1unit );
      }
    }
    .au-card__image {
      position: relative;
      height: 100%;
      img {
        height: auto;
        @include AU-space( margin-top, 0unit );
      }
    }
    .au-card--author_image {
      position: absolute;
      @include AU-space (right, 1unit );
      @include AU-space (bottom, -2.4unit );
      height: auto;
      img {
        @include AU-space( width, 6.25unit );
        @include AU-space( height, 6.25unit );
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid $AU-color-foreground-background;
        background-color: $AU-color-background-alt-shade-suggestion;
        box-sizing: border-box;
        height: auto;
      }
    }
    .au-card__fullwidth:first-child {
      @include AU-space( margin, -2unit -2unit 3unit -2unit );
      height: auto;
    }
    .au-card__title {
      @include AU-fontgrid( lg );
      a {
        color: $AU-color-foreground-action;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    footer {
      @include AU-space( margin-top, auto);
      .au-card--author_name,
      .au-card--content_type {
        @include AU-fontgrid( xs );
        font-weight: bold;
        a {
          color: $AU-color-foreground-text;
          font-weight: bold;
        }
      }
      .au-card--date {
        @include AU-fontgrid( xs );
        @include AU-space( margin-bottom, 1unit );
        color: $AU-color-foreground-muted-suggestion;
      }
    }
  }
}
