// Search block.

form#search-api-page-block-form-search,
form.search-api-page-block-form-search {
  display: table;
  width: 100%;
  text-align: right;


  // This is the text input wrapper.
  .form-item-keys {
    display: table-cell;
    vertical-align: top;
    text-align: right;
  }

  // This is the button wrapper.
  .form-wrapper {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    @include AU-space( width, 5.125unit );
  }
  .form-text,
  .button {
    border: none;
    .search-api-page-block-form-wrapper & {
      border: 1px solid $AU-color-foreground-border-suggestion;
    }
    appearance: none;
    -webkit-appearance: none;
    @include AU-fontgrid( xs, nospace );
    @include AU-media( sm ) {
      @include AU-fontgrid( sm, nospace);
    }
    color: $AU-color-foreground-text;
    display: block;
    width: 100%;
    @include AU-space( margin, 0 0 0 auto);
    padding: 0;
    &.form-autocomplete {
      background-position: right 0.5rem center;
    }
    &:focus {
     border-radius: 0;
     outline: solid 3px $AU-color-foreground-focus;
   }
  }
  .form-text {
    @include AU-space( padding, 0.8unit 2unit 0.8unit 1unit );
    @include AU-media( sm ) {
      @include AU-space( padding, 0.8unit 3unit 0.8unit 1.5unit );
    }
    @include AU-space( border-top-right-radius, 0 );
    @include AU-space( border-bottom-right-radius, 0 );
    background-color: $AU-color-foreground-background;
    &::placeholder {
      color: $AU-color-foreground-muted-suggestion;
      opacity: 1;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $AU-color-foreground-muted-suggestion;
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $AU-color-foreground-muted-suggestion;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $AU-color-foreground-muted-suggestion;
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $AU-color-foreground-muted-suggestion;
      opacity: 1;
    }
  }
  .button {
    @include AU-space( width, 5.125unit);
    @include AU-space( height, 2.875unit);
    @include AU-space( border-top-left-radius, 0 );
    @include AU-space( border-bottom-left-radius, 0 );
    @include AU-space( padding, 0 1unit );
    cursor: pointer;
    border-left: 1px solid $AU-color-foreground-border-suggestion;
    .search-api-page-block-form-wrapper & {
      border-left: none;
    }
    background-color: $AU-color-background-shade-suggestion !important;
    background-image: none;
    //height: 100%;
    &:hover {
      color: $AU-color-foreground-text;
    }
  }
}
