.au-card {
	@include AU-space( padding, 1.5unit );
	width: 100%;
	@include AU-media( sm ) {
		width: auto;
	}
	@include AU-media( md ) {
		@include AU-space( padding, 2unit );
	}
  font-weight: normal;
	display:block;
	max-width: $AU-maxwidth;
	//width: 100%; //Removed to solve IE9/10 layout bug in cards.
	img,
	svg {
		display: block;
	}

	// Typographic spacing
	* + hr,
	* + p,
	* + .au-card__title,
	* + .au-card__cta {
		@include AU-space( margin-top, 0unit );
		font-weight: normal;
	}
	.au-card__title {
		@include AU-fontgrid( lg );
		@include AU-space( margin-bottom, 1unit );
		text-decoration: underline;
		text-decoration-color: currentColor;
		transition: text-decoration-color 0.3s ease-in-out;
		font-weight: normal;
		@include AU-media( sm ) {
			@include AU-fontgrid( md );
			@include AU-space( margin-bottom, 1.5unit );
		}
		@include AU-media( md ) {
			@include AU-fontgrid( lg );
			@include AU-space( margin-bottom, 1.5unit );
		}
	}

	&.au-cta-link:hover {
		.au-card__title {
			text-decoration-color: transparent;
		}
	}

	.au-card__text {
		@include AU-space( margin-bottom, 1unit );
		@include AU-fontgrid( md );
		@include AU-media( sm ) {
			@include AU-fontgrid( sm );
			@include AU-space( margin-bottom, 2unit );
		}
		@include AU-media( md ) {
			@include AU-fontgrid( md );
			@include AU-space( margin-bottom, 2.5unit );
		}
	}

	hr {
		margin-bottom: 0;
	}

	.au-card__cta,
	.au-card__image {
		display: block;
	}

	&.au-card--shadow {
		border-radius: 4px;
		overflow:hidden;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
		background: $AU-color-foreground-background;

		.lt-ie9 & {
			border: solid 1px $AU-colordark-foreground-border-suggestion;
		}

		.au-card__fullwidth,
		.au-card__bg {
			@include AU-space( margin-left, -1unit );
			@include AU-space( margin-right, -1unit );
			height: auto;

			&:first-child {
				@include AU-space( margin-top, -1unit );
				min-height: 0%;
			}

			&:last-child {
				@include AU-space( margin-bottom, -1unit );
			}
		}
	}

	&.au-card--centered {
		text-align: center;

		img,
		svg {
			margin: 0 auto;
		}
	}

	.au-card__bg {
		@include AU-space( padding, 1unit );
		background-color: $AU-colordark-background-shade-suggestion;

		&:not(:first-child) {
			@include AU-space( margin-top, 1unit );
		}
	}
}

// When the box is a link
a.au-card {
	color: $AU-color-foreground-text;

	.au-body & {
		text-decoration: none;
	}

	&.au-card--shadow {
		&:focus {
			border-radius: 0;
		}

		&:hover {
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		}
	}

	.au-card__link,
	.au-card__cta {
		color: $AU-color-foreground-action;
		text-decoration: underline;
		text-decoration-skip: ink;
	}

	&:hover .au-card__link {
		text-decoration: none;
		color: $AU-color-foreground-text;
	}
}

// Card listing match height
.au-card-list {
	list-style: none;
	padding: 0;
	@include AU-card-cta-link($AU-color-foreground-text, $AU-color-foreground-text);
  @include AU-card-colours;
	@include AU-space( margin-top, 0 );
	@include AU-space( margin-bottom, 0 );

	li {
		list-style: none;
		@include AU-space( padding, 0);
		@include AU-media( sm ) {
			@include AU-space( padding, 0 2.5unit );
		}
		&.col-xs-12 {
			@include AU-space( padding, 0 );
		}

		@include AU-media( sm ) {
			// Remove right margin from stuff on the right.
			&:nth-child(3n) {
				@include AU-space( padding-right, 0);
				@include AU-space( padding-left, 1.5unit);
			}

			// Remove left margin from stuff on the left.
			&:nth-child(3n+1) {
				@include AU-space( padding-left, 0);
				@include AU-space( padding-right, 1.5unit);
			}
		}
	}

	.au-body & {
		li {
			@include AU-space( margin-top, 1.5unit );
		}
	}

	&.au-card-list--matchheight {
		display: table;
		@supports( display: flex ) {
			display: flex;
			flex-wrap: wrap;
		}

		li, article {
			display: table-cell;
			@supports( display: flex ) {
				display: flex;
			}
			@include AU-space( margin-top, 0.5unit );
		}
		.au-card {
			display:flex;
			flex-direction: column;
		}

		.au-card__stretch {
			flex: 1 0 auto;
		}
	}
}
