// Styles for tables. These are basic until GOLD releases a component.

table {
  border-top: 1px solid $AU-color-foreground-border-suggestion;
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  @include AU-space( margin, 2unit 0 );
  &#our-people td:first-child {
    @include AU-space( width, 6.25unit );
  }
  thead > tr {
    background-color: $AU-color-background-alt-shade-suggestion;
    border-bottom: none;
    th {
      background-color: $AU-color-background-alt-shade-suggestion;
    }
  }
  tbody > tr {
    border-bottom: 1px solid $AU-color-foreground-border-suggestion;
    &:hover {
      background-color: $AU-color-background-alt-suggestion;
    }
  }
  th {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    @include AU-space( padding, 0.5unit);
    @include AU-fontgrid( sm );
  }
  td {
    vertical-align: top;
    text-align: left;
    @include AU-space( padding, 0.5unit);
    @include AU-fontgrid( sm );
  }
  caption {
    text-align: left;
    @include AU-fontgrid( sm );
    @include AU-space( margin, 1unit 0 );
    font-weight: bold;
  }
}

div.horizontal-scroll-table-container {
  width: 100%;
  overflow: auto;

  @include AU-media( lg ) {
    overflow: initial;
  }

  table {
    @include AU-media( md ) {
      th:first-child,
      td:first-child {
        max-width: 20em;
      }
      td:first-child[colspan] {
        max-width: initial;
      }
    }
    @include AU-media( lg ) {
      max-width: 100%;
    }
  }
}
