// Style for tooltips and associated tooltip buttons.

.au-tooltip--wrapper {
  // This is the containing element for the tooltips.
  position: relative;
}

.au-tooltip--button {
  // This sets the button (nominally a 'secondary' button) to be smaller and
  // rounded so it fits in better.
  @include AU-space( width, 1.75unit );
  @include AU-space( height, 1.75unit );
  @include AU-space( padding, 0 );
  @include AU-space( margin-top, -0.5unit );
  @include AU-fontgrid( xs );
  background-color: $AU-color-foreground-background !important;
  border-radius: 50%;
  font-weight: bold;
  &:focus {
    border-radius: 50%;
  }
}

.au-tooltip--inner {
  // The inner wrapper is added dynamically with JavaScript and is used to
  // position the tooltip and the pointer together.

  position: absolute;
  z-index: 200;
  @include AU-space( top, 4.2unit );
  @include AU-space( width, 100% );
  @include AU-space( min-width, 30unit );
  @include AU-media( sm ) {
    @include AU-space( top, 4.6unit );
    @include AU-space( width, 50% );
  }
  @include AU-space( left, 0unit );
  .au-tooltip {
    position: relative;
  }
}

.au-tooltip {
  // This is the actual tooltip. It is styled to appear over content with a
  // slight drop shadow and a triangular pointer. Note that the positioning of
  // the pointer is specific to the application at the moment.

  position: absolute; // Make sure that the containing div has position set to relative.

  @include AU-space( border-radius, 0.25unit );
  @include AU-space( padding, 2unit );
  @include AU-fontgrid( xs );
  z-index: 500;
  border: 1px solid $AU-color-foreground-border-suggestion;
  background-color: $AU-color-foreground-background;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
  top: -1px;
}

.au-tooltip--pointer {
  // The pointer is added dynamically via JavaScript.
  @include AU-space( width, 2unit );
  @include AU-space( height, 1unit );
  position: relative;
  z-index: 600;
  &:before,
  &:after {
    @include AU-space( width, 0 );
    @include AU-space( height, 0 );
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom-width: 1rem;
    border-bottom-style: solid;
    content: ' ';
    left: calc(50% - 2rem);
    position: absolute;
  }
  &:before {
    top: -1px;
    border-bottom-color: $AU-color-foreground-border-suggestion;
  }
  &:after {
    top: 0px;
    border-bottom-color: $AU-color-foreground-background;
  }
}
