/**
 * Colors light theme
 */
$AU-color-foreground-text:                      #313131;
$AU-color-foreground-action:                    #007099; // Originally #815D00;
$AU-color-foreground-focus:                     #9263DE;
$AU-color-foreground-background:                #ffffff;

// Non-user definable pallet colors
$AU-color-background-shade-suggestion:          #f5f5f5;
$AU-color-background-alt-suggestion:            #F0F3F5; // #f2f2f2;
$AU-color-background-alt-shade-suggestion:      #e0e0e0; // Originally #ebebeb
$AU-color-foreground-muted-suggestion:          #636363;
$AU-color-foreground-border-suggestion:         #7F7F7F;

/**
 * Colors dark theme
 */
$AU-colordark-foreground-text:                  #ffffff;
$AU-colordark-background:                       #313131; //Originally #3C3C3C;
$AU-colordark-foreground-action:                #45C2F0; // Originally #EBCA79
$AU-colordark-foreground-focus:                 #C390F9;

// non user definable pallet colors
$AU-colordark-background-shade-suggestion:      #323232;
$AU-colordark-background-alt-suggestion:        #282828;
$AU-colordark-background-alt-shade-suggestion:  #1D1D1D;
$AU-colordark-foreground-muted-suggestion:      #adadad; // Originally #a6a6a6; These two colours kept being changed by the AU-color-a11y function.
$AU-colordark-foreground-border-suggestion:     #8c8c8c; // Originally #868686;

// Extra colours
$card-green:                                    #248041;
$card-purple:                                   #912B87;

$top-border-dark-purple:                        #5F43AC;
$top-border-green:                              #32A556;
$top-border-purple:                             $card-purple;
$top-border-orange:                             #EE6523;
$top-border-pink:                               #C91978;
$top-border-blue:                               $AU-colordark-foreground-action;

$AU-color-discovery:                            rgb(145, 43, 135);
$AU-color-alpha:                                rgb(201, 25, 120);
$AU-color-beta:                                 #EE6523;
$AU-color-live:                                 rgb(50, 165, 86);

$AU-color-foreground-text-beta:                 #CD4D10;

// Roadmap 2018 colours
$roadmap-2018-colour-easy:                      #cd0078;
$roadmap-2018-colour-informed:                  #f26400;
$roadmap-2018-colour-fit:                       #20a94e;
