// Styles for coloured cards.

@mixin AU-card-colours {
  li {
    a.au-cta-link {
      border-top-width: 3px;
      border-top-style: solid;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    // Top borders for cards.
    &:nth-of-type(5n+1) {
      a.au-cta-link {
        border-top-color: $top-border-purple;
        &:hover, &:focus {
          background-color: #EDDDEC;
        }
      }
    }

    &:nth-of-type(5n+2) {
      a.au-cta-link {
        border-top-color: $top-border-green;
        &:hover, &:focus {
          background-color: #DEF0E4;
        }
      }
    }

    &:nth-of-type(5n+3) {
      a.au-cta-link {
        border-top-color: $top-border-dark-purple;
        &:hover, &:focus {
          background-color: #E8E4F3;
        }
      }
    }

    &:nth-of-type(5n+4) {
      a.au-cta-link {
        border-top-color: $top-border-orange;
        &:hover, &:focus {
          background-color: #FCE6DC;
        }
      }
    }

    &:nth-of-type(5n+5) {
      a.au-cta-link {
        border-top-color: $top-border-pink;
        &:hover, &:focus {
          background-color: #F6DAE9;
        }
      }
    }
  }
}
