// Print styles for the site.

@media print {

  @page {
    size: A4 portrait;
    margin: 2cm;
  }
  // Disappear things we don't need.

  #ribbon,
  #block-searchapipagesearchblockform,
  #block-mainnavigation-4,
  #back-to-top,
  #social-media,
  #block-dta-gov-au-footer,
  #sidebar,
  #comment-form,
  #sidebar-right,
  #book-header,
  .video-embed-field-responsive-video,
  .au-accordion,
  .buttons,
  main[role="main"].page-content .back-to-top,
  span.ext {
    display: none !important;
    visibility: hidden !important;
  }

  body.book-export article > article > h1 {
    page-break-before: always;
  }

  // Update some typography.
  h2, h3, h4 {
    page-break-after: avoid;
  }

  ul, img, .au-callout {
    page-break-inside: avoid;
  }

  h1 {
    font-size: 20pt !important;
  }

  h2 {
    font-size: 16pt !important;
  }

  h3 {
    font-size: 14pt !important;
  }

  h4 {
    font-size: 12pt !important;
  }
  ul, ol {
    page-break-before: avoid;
  }

  p, li {
    font-size: 12pt !important;
  }
  .au-introduction {
    font-size: 14pt !important;
    max-width: 42rem !important;
  }
  .au-callout {
    border: 1px solid $AU-color-foreground-border-suggestion !important;
    border-left-width: 6px !important;
  }

  body,
  body.book-export {
    header a[rel="home"] {
      background-color: $AU-color-foreground-background;
      img {
        filter: invert(100%);
        background-color: transparent !important;
        max-width: 15em !important;
      }
      &:after {
        display: none !important;
      }
    }
  }

  // Update padding and margins, especially on the home page.

  body,
  body.book-export {
    header[role="banner"].au-header.au-header--hero {
      @include AU-space( padding, 1unit 0 0 0 );
      @include AU-space( margin-bottom, 2unit );
      &:before {
        display: none;
      }
    }
    #main-content,
    main {
      @include AU-space( margin-left, 0 );
      // Print to A4
      width: 100%;
      p {
        max-width: 100% !important;
      }
      table {
        font-size: 10pt !important;
        max-width: 100% !important;
        width: 100% !important;
        td, th {
          font-size: 80%;
        }
      }
    }
    .page-front {
      #highlight,
      #top-content,
      #mid-top-content,
      #mid-bottom-content,
      #bottom-content {
        @include AU-space( padding, 0 );
        @include AU-space( margin, 1unit 0 0 0 );
        h2 {
          @include AU-space( margin-bottom, 1.5unit );
          @include AU-space( margin-top, 0 );
        }
        .more-link {
          @include AU-space( margin, 0 );
          text-align: left;
          &.au-cta-link a:after {
            content: " (" attr(href) ")";
            background-image: none;
          }
        }
        .link-wrapper {
          a {
            @include AU-space( margin, 1unit );
          }
        }
      }
    }
    &.book-export {
      article {
        @include AU-space (margin-top, 2unit );
      }
      div > p {
        @include AU-space (margin-top, 1unit);
      }
    }
  }

  // Update layout things which don't make sense when printed.
  body {
    &.book-export.au-body {
      a[href]{
        text-decoration: none;
        &:after {
    			display: none !important;
    		}
        &:focus {
          outline: none !important;
        }
      }
    }
    .page-front #highlight {
      .container {
        display: block;
      }
      .highlight-block {
        width: 100%;
        display: block;
        float: none;
        @include AU-space( margin-bottom, 1.5unit );
        @include AU-space( margin-left, 0unit );
        @include AU-space( padding-left, 0unit );
        border: none;
      }
    }
  }

  // Update buttons.
  body {
    .au-btn,
    a.au-btn {
      border: none !important;
      @include AU-space( padding, 0 );
      &:before {
        content: ">";
        @include AU-space( margin-right, 0.5unit );
      }
    }
  }

  // Update cards to make them lists.
  body {
    main[role="main"].page-content,
    .page-front,
    &.book-export {
      .au-cards--blogs-news,
      .au-landing-page-level-2-cards ,
      #top-content,
      #mid-top-content,
      #bottom-content,
      .views-element-container,
      .embedded-entity {
        .au-card-list {
          .au-cta-link:after {
            content: " (" attr(href) ")" !important;
            display: block;
            width: auto;
            position: relative !important;
            @include AU-space( margin, 0 );
            background-image: none;
            right: inherit;
            left: 0;
            @include AU-fontgrid( sm );
            bottom: auto;
            height: auto;
          }
          &.au-card-list--matchheight {
            display: block;
            .au-card {
              display: block;
              min-height: auto;
              padding: 0 !important;
              footer {
                background-color: transparent !important;
              }
              .au-card__title {
                margin-top: 0 !important;
                background-color: transparent !important;
              }
              .au-card--content,
              .au-card--date,
              .au-card__text {
                background-color: transparent !important;
                @include AU-space( margin-bottom, 1unit );
              }
              &.au-card--shadow {
                .au-card__fullwidth {
                  @include AU-space( margin, 0 );
                  &:first-child {
                    margin: 0 1rem 1rem 0 !important;
                  }
                  &.au-card__image {
                    float: left;
                    @include AU-space( width, 14unit );
                    height: auto;
                    border: 1px solid $AU-color-foreground-border-suggestion;
                    @include AU-space( margin, 0 1unit 1unit 0 );
                  }
                }
              }
            }
            > li {
              width: auto !important;
              min-height: auto !important;
              display: block !important;
              height: auto !important;
              max-width: inherit !important;
              float: none !important;
              max-width: 42em;
              a.au-cta-link {
                @include AU-space( padding, 0 );
                border: none !important;
                &:after {
                  content: " (" attr(href) ")";
                }
              }
            }
          }
        }
      }
    }
  }

  // Footer stuff.
  body {
    footer {
      @include AU-space( padding-bottom, 1unit );
      @include AU-space( padding-top, 1unit );
      #footer-middle {
        border-top: 1px solid $AU-color-foreground-border-suggestion;
        width: 100%;
        @include AU-space( padding-top, 1unit );
      }
      #site-logo {
        display: none;
      }
      .au-footer__navigation,
      .au-footer__end {
        @include AU-space( margin, 0 );
        p {
          border: none;
          @include AU-space( padding, 0 );
          max-width: 100%;
        }
      }
    }
  }
}
