// Styles for back to top link on the home page.

#back-to-top {
  @include AU-space( margin, 2unit 0unit 1unit 0unit );
  @include AU-space( padding-top, 5unit );
  text-align: center;
  a {
    @include AU-fontgrid( sm );
    color: $AU-color-foreground-action;
    &:after {
      content: '\02191';
      background-image: none;
    }
  }
}
