// General overrides for forms.

// Chosen.
//  Chosen elements take an input field and convert it to an input. While the
// <select> template places the correct class on the chosen wrapper <div, this
// does not end up in a styled input field. Hence that awful selector!

.chosen-container.chosen-container-multi.au-select {
  width: 100% !important;
  border: none;
  background-image: none;
  @include AU-space( margin-bottom, 1unit );
  .chosen-choices {
    width: auto;
    li.search-field input[type="text"] {
      width: 100% !important;
      @extend .au-text-input;
      @extend .au-text-input--block;
    }
  }
  .chosen-drop .chosen-results {
    @extend .au-link-list;
  }
  li.search-choice {
    background-image: none;
    @extend .au-btn;
    @extend .au-btn--secondary;
    // @TODO: Update the 'x' image here to make it white.
    .search-choice-close {
    }
  }
}

// Views exposed forms have somewhat complicated behaviours.

.views-exposed-form {
  .form-actions {
    @include AU-space( margin-top, 1unit );
    @include AU-space( margin-left, 1unit );
  }
}

// Style reset buttons to make them tertiary buttons.
// @TODO: Fix up the theme template for these buttons to add the classes
// properly.

.au-text-input[value="Reset"] {
  @extend .au-btn;
  @extend .au-btn--tertiary;
}

// Style labels.
// This is jsut an addition to the generic label style from .au-body.
// @TODO: Adjust label templates to add the right classes based on what it is
// the label for.

label {
  @include AU-space( margin-bottom, 0.5unit );
  display: block;
}

.au-select {
  // Not sure why this isn't getting added via Autoprefixer but w/e.
  -webkit-appearance: none;
}

// There's a gap between the autocomplete results and the search box. Note the actual
// repositioning is done via JS.
.ui-autocomplete {
  position: absolute;
}

// This evens up the autocomplete suggestions with the search text.
ul.ui-menu {
  @include AU-space( padding-left, 1unit );
  z-index: 500; // To make sure it appears over the top menu.
}

// Reset some fieldset style.
fieldset,
legend {
  @include AU-space( margin, 1unit 0 1unit 0 );
  @include AU-space( padding, 0 );
}

form > p {
  @include AU-space( padding-bottom, 1.5unit );
}

// Styles for the Mailchimp form.

.mailchimp-signup-subscribe-form {
  @include AU-space( margin-top, 2unit );
  h2 {
    @include AU-space( margin-bottom, 1.5unit );
  }
  .mailchimp-newsletter-mergefields {
    .form-item {
      @include AU-space( margin-bottom, 1unit );
    }
  }
  .form-actions {
    @include AU-space( margin-top, 1.5unit );
  }
  .empty-required {
    border-color: $AU-color-foreground-border-suggestion;
    background-color: $AU-color-foreground-background;
    transition: border-color 0.8s ease;
  }
}

// Styles for Webform forms

.webform-submission-form {
  .form-item {
    @include AU-space( margin-bottom, 2unit );
    label, legend {
      font-weight: bold;
      &.au-control-input {
        font-weight: normal;
      }
    }
  }
  .au-control-input__input:focus + .au-control-input__text:before,
  .au-control-input__input:focus + .au-control-input__text:after {
    outline-offset: -9px;
  }
  input.form-radio {
    .au-control-input__text {
      font-weight: bold;
    }
  }
}
