@mixin more-link( $color:$AU-color-foreground-action, $align:right ) {
  .more-link {
    @include AU-space( margin, 2unit 0 0 0 );
    @include AU-fontgrid( sm );
    text-align: center;
    @include AU-media( sm ) {
      text-align: $align;
    }
    &.au-cta-link {
      a {
        font-weight: normal;
        color: $color;
        &:after {
          @include AU-space( margin-left, 0.5625unit );
          background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
  				'<path fill="#{ $AU-color-foreground-action }" d="M128 64l-64 64-16-16 64-64"/>' +
  				'<path fill="#{ $AU-color-foreground-action }" d="M128 64l-16 16-64-64L64 0"/>' +
  			'</svg>');
        }
      }
    }
  }
}
