// Styles for tables. These are basic until GOLD releases a component.

table {
  width: 100%;
  border-collapse: collapse;
  tbody > tr {
    &:hover {
      background-color: $AU-color-background-alt-suggestion;
    }
    &:nth-child(odd) {
      background-color: $AU-color-background-shade-suggestion;
      &:hover {
        background-color: $AU-color-background-alt-suggestion;
      }
    }
  }
  th {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid $AU-color-foreground-border-suggestion;
    @include AU-space( padding, 0.5unit);
  }
  td {
    vertical-align: top;
    text-align: left;
    @include AU-space( padding, 0.5unit);
  }
  caption {
    text-align: left;
    @include AU-fontgrid( lg );
  }
}
