#off-canvas {
  @extend .au-body;
  @extend .au-body--alt;
  @extend .au-body--dark;
  .mm-navbar {
    border-color: $AU-color-foreground-border-suggestion;
  }
  .mm-listitem {
    &:after {
      border-color: $AU-color-foreground-border-suggestion;
    }
  }
  &.mm-menu_theme-dark .mm-listview .mm-btn_next:after {
    border-color: $AU-color-foreground-background !important;
  }
  a {
    color: $AU-color-foreground-background;
    text-decoration: none;
    border-color: $AU-color-foreground-border-suggestion;
    &:hover {
      text-decoration: underline;
    }
  }
}

.responsive-menu-toggle-icon span.label {
  width: 150px;
  text-transform: none;
  @include AU-fontgrid( sm );
}
