// Styles for the social media area.

#social-media {
  @include AU-space( margin-top, 5.625unit );
  h2 {
    @include AU-fontgrid( md, nospace );
    @include AU-space( margin-bottom, 1.5unit );
  }
  .au-link-list {
    li {
      @include AU-space( margin-bottom, 1.5unit );
    }
    a {
      @include AU-space( padding-left, 2.5unit );
      color: $AU-color-Background-light;
      text-decoration: none;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      &.twitter {
        background-image: url('../images/twitter.svg');
      }
      &.facebook {
        background-image: url('../images/facebook.svg');
      }
      &.linkedin {
        background-image: url('../images/linkedin.svg');
      }
      &.youtube {
        background-image: url('../images/youtube.svg');
      }
      &:hover {
        color: $AU-colordark-Action;
        text-decoration: underline;
      }
    }
  }
}
