// Footer navigation styles.

.au-footer__navigation {
  @include AU-space( margin-top, 5unit );
  @include AU-space( margin-bottom, 9.5unit );
  .au-link-list {
    li {
      @include AU-space( margin-right, 2unit );
      @include AU-media( sm ) {
        display: inline-block;
      }
      display: block;
    }
    a {
      color: $AU-color-Background-light;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
