// Footer navigation styles.

.au-footer__navigation {
  @include AU-space( margin-bottom, 2.5unit );
  @include AU-media( sm ) {
    @include AU-space( margin-bottom, 1.625unit );
    @include AU-space( margin-top, 6.875unit );
  }
  .au-link-list {
    li {
      display: block;
      @include AU-space( margin-bottom, 1unit );
      @include AU-media( sm ) {
        @include AU-space( margin, 0 1unit 0.5unit 0 );
        display: inline-block;
      }
    }
    a {
      color: $AU-color-foreground-background;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
