// Style for the book headers.

#book-header {
  border-bottom: 1px solid $AU-color-foreground-border-suggestion;
  @include AU-space( padding-bottom, 2unit );
  h1 {
    @include AU-fontgrid( sm );
    @include AU-space( padding-top, 0.8unit );
    font-weight: normal;
    @include AU-space( margin-bottom, 1unit );
  }
  .button-wrapper {
    text-align: right;
  }
  .print-book {
  }
}
