// Extra styles for dashboards

// Cards

#block-views-block-dashboard-block-1,
.dashboard-theme-page {
  h2 {
    color: $AU-colordark-foreground-text;
    @include AU-space( padding, 1unit );
    &.government-that039s-informed-by-you {
      background-color: $roadmap-2018-colour-informed;
    }
    &.government-that039s-easy-to-deal-with {
      background-color: $roadmap-2018-colour-easy;
    }
    &.government-that039s-fit-for-the-digital-age {
      background-color: $roadmap-2018-colour-fit;
    }
  }
  .au-card {
    border-top: 8px solid;
    &.government-that039s-easy-to-deal-with {
      border-top-color: $roadmap-2018-colour-easy;
    }
    &.government-that039s-informed-by-you {
      border-top-color: $roadmap-2018-colour-informed;
    }
    &.government-that039s-fit-for-the-digital-age {
      border-top-color: $roadmap-2018-colour-fit;
    }
  }
}

// Theme element at the top

.dashboard-theme-wrapper {
  width: 100%;
  display: table;
  &.government-thats-informed-by-you {
    background-color: $roadmap-2018-colour-informed;
  }
  &.government-thats-easy-to-deal-with {
    background-color: $roadmap-2018-colour-easy;
  }
  &.government-thats-fit-for-the-digital-age {
    background-color: $roadmap-2018-colour-fit;
  }
  .dashboard-theme-name {
    @include AU-space( padding, 1unit );
    display: table-cell;
    color: $AU-colordark-foreground-text;
    font-weight: bold;
    @include AU-fontgrid( md );

  }
  .dashboard-item-progress-label {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    @include AU-space( padding-top, 1unit );
    @include AU-space( padding-bottom, 1unit );
    @include AU-space( padding-left, 1.5unit );
    background-color: $AU-color-foreground-action;
    color: $AU-color-foreground-background;
    font-weight: bold;
    @include AU-fontgrid( sm );
    @include AU-media( sm ) {
      @include AU-fontgrid( md );
    }
  }
  .dashboard-item-progress {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: $AU-color-background-alt-suggestion;
    color: $AU-color-foreground-text;
    font-weight: bold;
    line-height: 100%;
    @include AU-space( padding-top, 1.5unit );
    @include AU-space( padding-bottom, 1.5unit );
    &:after {
      @include AU-space( margin-left, 0.3unit );
      display: inline-table;
      vertical-align: middle;
      @include AU-space( width, 1unit );
      @include AU-space( height, 1unit );
      content:'';
      border-radius: 50%;
    }
    &.id-389:after {
      background-color: $AU-color-live;
    }
  }
}


// Metrics
.metric-container {
  .dashboard-metric-introduction {
    @include AU-space( margin-bottom, 1unit );
  }
  .dashboard-metric-row {
    @include AU-space( margin-bottom, 1unit );
    @include AU-space( margin-left, 0unit );
    @include AU-space( margin-right, 0unit );
    background-color: $AU-color-background-alt-shade-suggestion;
    display: table;
    position: relative;
    width: 100%;
    .dashboard-metric-headline {
      @include AU-media( sm ) {
        @include AU-space( width, 8.5unit);
      }
      @include AU-space( width, 7.5unit);
      display: table-cell;
      vertical-align: middle;
      @include AU-space( padding, 1unit );
      background-color: $AU-color-foreground-action;
      color: $AU-colordark-foreground-text;
      text-align: left;
      .headline-figure {
        display: block;
        font-weight: bold;
        @include AU-fontgrid( sm );
        @include AU-media ( sm ) {
          @include AU-fontgrid( xl );
        }
      }
      .headline-text {
        @include AU-fontgrid( xs );
        @include AU-media ( sm ) {
          @include AU-fontgrid( sm );
        }
      }
    }
    .dashboard-metric-text {
      @include AU-space( padding, 0.5unit 1unit );
    }
  }
}
