// Styles for the Assessment Reports.

// Outer block wrapper.
#block-views-block-assessment-reports-block-1 {

  // Form
  form#views-exposed-form-assessment-reports-block-1 {
    fieldset {
      .fieldset-legend {
        font-weight: bold;
      }
      .form-item {
        display: inline-block;
      }
    }
    .form-wrapper {
      @include AU-clearfix();
    }
  }

  // List
  .assessment-reports {
    header {
      @include AU-space( margin-top, 1.5unit );
    }
    table {
      @include AU-space( margin-left, 0.75unit );
      tbody > tr {
        &.alpha td:first-child {
          box-shadow: inset 8px 0px 0px 0px $AU-color-alpha;
        }
        &.beta td:first-child {
          box-shadow: inset 8px 0px 0px 0px $AU-color-beta;
        }
        &.live td:first-child {
          box-shadow: inset 8px 0px 0px 0px $AU-color-live;
        }
        td:first-child {
          @include AU-space( padding-left, 1unit );
          width: 15%;
        }
      }
    }
  }

  .au-page-alerts {
    @include AU-space( margin-left, 0.5unit );
  }
}

// Reports
section.assessment-report-metadata {
  @extend .au-callout;
  .metadata-wrapper {
    .metadata-label {
      font-weight: bold;
      @include AU-space( margin-right, 0.5unit );
    }
    &.metadata-other-reports {
      @include AU-space( margin-top, 1.5unit );
      @include AU-space( padding-top, 1.5unit );
      border-top: 1px solid $AU-color-foreground-border-suggestion;
    }
  }
}
