// Styles for cards in content. The styles also flow 'up' to the home page.
//
// @TODO: Write a better SASS function to apply the borders - this is stupid.
.au-card-list {
  @include AU-card-cta-link($AU-color-foreground-text, $AU-color-foreground-text);
  @include AU-card-colours;

}

.au-card {
  @include AU-space( padding, 2unit );
  font-weight: normal;
}

.au-card__title {
  @include AU-space( margin-bottom, 1.5unit );
  text-decoration: underline;
  text-decoration-color: currentColor;
  transition: text-decoration-color 0.3s ease-in-out;
}

.au-cta-link:hover {
  .au-card__title {
    text-decoration-color: transparent;
  }
}
