// Extra styles for dashboards

// Cards

#block-views-block-dashboard-block-1 {
  .au-card {
    border-top: 8px solid;
    &.government-that039s-easy-to-deal-with {
      border-top-color: $roadmap-2018-colour-easy;
    }
    &.government-that039s-informed-by-you {
      border-top-color: $roadmap-2018-colour-informed;
    }
    &.government-that039s-fit-for-the-digital-age {
      border-top-color: $roadmap-2018-colour-fit;
    }
  }
}

// Theme element at the top

.dashboard-theme-wrapper {
  width: 100%;
  display: table;
  .dashboard-theme-name {
    display: table-cell;
    width: 70%;
    @include AU-space( padding-top, 1unit );
    @include AU-space( padding-bottom, 1unit );
    @include AU-space( padding-left, 1.5unit );
    background-color: $AU-color-foreground-action;
    color: $AU-color-foreground-background;
    font-weight: bold;
    @include AU-fontgrid( sm );
    @include AU-media( sm ) {
      @include AU-fontgrid( md );
    }
    .dashboard-theme-name-text {
      width: 50%;
      display: block;
    }
  }
  .dashboard-item-progress {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: $AU-colordark-background-alt-suggestion;
    color: $AU-colordark-foreground-text;
    font-weight: bold;
    line-height: 100%;
    @include AU-space( padding-top, 1.5unit );
    @include AU-space( padding-bottom, 1.5unit );
  }
}


// Metrics

.dashboard-metric-row {
  @include AU-space( margin-bottom, 1unit );
  @include AU-space( margin-left, 0unit );
  @include AU-space( margin-right, 0unit );
  background-color: $AU-color-background-alt-shade-suggestion;
  display: table;
  position: relative;
  width: 100%;
  .dashboard-metric-headline {
    @include AU-media( sm ) {
      @include AU-space( width, 7unit);
    }
    @include AU-space( width, 6unit);
    display: table-cell;
    vertical-align: middle;
    @include AU-space( padding, 1unit );
    background-color: $AU-color-foreground-action;
    color: $AU-colordark-foreground-text;
    text-align: left;
    .headline-figure {
      display: block;
      font-weight: bold;
      @include AU-fontgrid( sm );
      @include AU-media ( sm ) {
        @include AU-fontgrid( lg );
      }
    }
    .headline-text {
      @include AU-fontgrid( xs );
      @include AU-media ( sm ) {
        @include AU-fontgrid( sm );
      }
    }
  }
  .dashboard-metric-text {
    @include AU-space( padding, 0.5unit 1unit );
  }
}
