// Styles for the tag filter.

.block-facet--checkbox {
  .facets-widget-checkbox {
    .item-list__checkbox {
      column-count: 3;
      column-width: 33%;
      li {
        display: block;
        @include AU-space( margin-top, 0unit );
      }
    }
  }
}
