// Styles for the tag filter.

.block-facet--checkbox {
  .au-accordion {
    h2 {
      @include AU-fontgrid( md );
      @include AU-space( margin, 0 );
    }
  }
  .facets-widget-checkbox {
    .item-list__checkbox {
      column-count: 3;
      column-width: 33%;
      li {
        display: block;
        @include AU-space( margin-top, 0unit );
      }
    }
  }
}
