// Styles for cards in content. The styles also flow 'up' to the home page.
//
// @TODO: Write a better SASS function to apply the borders - this is stupid.
.au-card-list {
  @include AU-card-cta-link($AU-color-foreground-text, $AU-color-foreground-text);
  li {
    a.au-cta-link {
      border-top-width: 3px;
      border-top-style: solid;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    // Top borders for cards.
    &:nth-of-type(5n+1) {
      a.au-cta-link {
        border-top-color: $top-border-purple;
        &:hover {
          background-color: #EDDDEC;
        }
      }
    }

    &:nth-of-type(5n+2) {
      a.au-cta-link {
        border-top-color: $top-border-green;
        &:hover {
          background-color: #DEF0E4;
        }
      }
    }

    &:nth-of-type(5n+3) {
      a.au-cta-link {
        border-top-color: $top-border-dark-purple;
        &:hover {
          background-color: #E8E4F3;
        }
      }
    }

    &:nth-of-type(5n+4) {
      a.au-cta-link {
        border-top-color: $top-border-orange;
        &:hover {
          background-color: #FCE6DC;
        }
      }
    }

    &:nth-of-type(5n+5) {
      a.au-cta-link {
        border-top-color: $top-border-pink;
        &:hover {
          background-color: #F6DAE9;
        }
      }
    }
  }
}

.au-card {
  @include AU-space( padding, 2unit );
  font-weight: normal;
}

.au-card__title {
  @include AU-space( margin-bottom, 1.5unit );
}
