// Styles for the breadcrumbs.

.au-breadcrumbs {
  display: none;
  visibility: hidden;
  @include AU-media( sm ) {
    display: block;
    visibility: visible;
  }
  ol {
    @include AU-space( padding-left, 0 );
  }
  a {
    color: $AU-color-foreground-action;
    &:hover {
      color: $AU-color-foreground-text;
      text-decoration: none;
    }
  }
}
