// Styles for comments.

article.comment {
  &.unpublished {
    border: 1px solid $AU-color-foreground-border-suggestion;
    @include AU-space( padding, 0 1unit 1unit 1unit );
    @include AU-space( margin-top, 1unit );
  }

  .comment-list {
    border-top: 1px solid $AU-color-foreground-border-suggestion;
    @include AU-space( padding-top, 0.5unit );
    @include AU-space( margin-top, 0.5unit );
  }
  footer {
    @include AU-space( padding-top, 1unit );
    .comment-metadata {
    }
    .comment-permalink {
      vertical-align: super;
    }
    .comment-datetime {
      font-style: italic;
      @include AU-space( margin-top, 0);
      @include AU-space( margin-bottom, 0.5unit );
    }
  }
  + div.indented {
    @include AU-space( margin-left, 2.5unit );
  }
}
