<div id="ribbon" class="au-ribbon container-fluid au-body">
  <div class="container">
    <div class="row col-xs-12">
      <p>This website is in <span class="stage-beta">beta</span>. We’re testing new designs and a small amount of content. <a href="/tell-us-what-you-think">Let us know</a> what you think. Go back to <a class="au-external" href="https://www.dta.gov.au">dta.gov.au</a></p>
    </div>
  </div>
</div>
