<div id="ribbon" class="au-ribbon container-fluid au-body">
  <div class="container">
    <div class="row col-xs-12">
      <p>This website is in <strong>beta</strong> so there may be some pages missing. Please bear with us while we're building. <a href="/tell-us-what-you-think">Let us know</a> what you think of our new website. <a href="https://www.dta.gov.au">Go back to the live site</a>.</p>
    </div>
  </div>
</div>
