// Styles for the mid-top-content element on the home page.

#mid-top-content {
  @include more-link();
  .container {
    @include AU-space( margin-bottom, 2unit );
  }
  @include AU-space( padding-top, 2unit );
  @include AU-space( padding-top, 0unit );
  @include AU-media( sm ) {
    @include AU-space( padding-top, 5unit );
    @include AU-space( padding-bottom, 5unit );
  }
  .au-card-list {
    @include AU-card-cta-link($AU-color-foreground-text);
    @include AU-card-colours;
    &.au-card-list--matchheight {
  		.au-card {
  			@include AU-media( sm ) {
  				@include AU-space( min-height, 37unit );
  			}
  		}
    }
  }
  .au-body {
    background-color: transparent;
  }

  h2 {
    font-weight: normal;
    @include AU-space( margin-bottom, 2.5unit  );
    @include AU-media( sm ) {
      @include AU-space( margin-bottom, 5unit  );
    }
  }
  .au-card__title {
    @include AU-space( margin-top, 2unit );
    @include AU-space( margin-bottom, 1.5unit );
    @include AU-media( md ) {
      @include AU-space( margin-top, 3.5unit );
      @include AU-space( margin-bottom, 1unit );
    }
  }
  .au-card__image {
    img {
      @include AU-space( margin, 0 auto );
    }
  }

  .au-cta-link:hover {
    .au-card__title {
      text-decoration-color: transparent;
    }
  }
}
