// Styles for the 'top-content' block.

#top-content {
  @include more-link();
  .au-card-list {
    @include AU-card-cta-link($AU-colordark-foreground-text);
    > li {
      @include AU-space( margin-top, 0 );
    }
  }
  h2 {
    font-weight: normal;
    @include AU-space( margin-bottom, 5unit );
  }
  @include AU-space( margin-top, 5unit );
  @include AU-space( margin-bottom, 5unit );
  .au-card {
    @include AU-space( padding, 2unit 4unit 2unit 2unit );
    &.au-card--item-1 {
      background: linear-gradient(#005d80, $AU-color-foreground-action);
    }
    &.au-card--item-2 {
      background: linear-gradient(#1f7039, $card-green);
    }
    &.au-card--item-3 {
      background: linear-gradient(#903086, $card-purple);
    }
    * {
      font-weight: normal;
      color: $AU-colordark-foreground-text;
    }
    .au-card__text {
      @include AU-space( margin-bottom, auto );
    }
    .au-card__title {
      @include AU-space( margin-bottom, 1.5unit );
      text-decoration: underline;
    }
  }
  .au-cta-link:hover {
    .au-card__title {
      text-decoration: none;
    }
  }
}
