// Styles for the mid-bottom block on the home page.
#mid-bottom-content {
  background-image: url('../images/home-join-the-dta.jpg');
  background-position: right 20%;
  background-repeat: no-repeat;
  background-size: 88%;
  .row {
    background-color: $AU-colordark-background;
  }
  .container {
  }
  h2 {
    font-weight: normal;
    @include AU-space( margin-bottom, 1.5unit );
    @include AU-space( margin-top, 5unit );

  }
  p {
    @include AU-space( margin-right, 2unit );
    &:last-child {
      @include AU-space( margin-top, 0 );
    }
  }
  .au-btn {
    @include AU-space( margin-top, 4unit );
    @include AU-space( margin-bottom, 5unit );
  }
}
