// Styles for the mid-bottom block on the home page.
#mid-bottom-content {
  background-image: url('../images/mid-bottom-bg.png');
  background-position: 300% center;
  background-repeat: no-repeat;
  @include AU-media ( sm ) {
    background-size: 89%;
    background-position: right center;
  }
  @include AU-media ( md ) {
    background-size: 66%;
  }
  @include AU-media ( lg ) {
    background-size: 54%;
    background-position: right 25%;

  }
  .row {
    background-color: $AU-colordark-background;
  }
  .container {
  }
  h2 {
    font-weight: normal;
    @include AU-fontgrid( lg );
    @include AU-space( margin-bottom, 2.5unit );
    @include AU-space( margin-top, 5unit );
    @include AU-media( md ) {
      @include AU-fontgrid( xl );
      @include AU-space( margin-bottom, 1.5unit );
      @include AU-space( margin-top, 5unit );
    }
  }
  p {
    @include AU-space( margin-right, 2unit );
    @include AU-fontgrid( sm );
    @include AU-media( md ) {
      @include AU-fontgrid( md );
    }
    &:last-child {
      @include AU-space( margin-top, 0 );
    }
  }
  .au-btn {
    @include AU-space( margin-top, 4unit );
    @include AU-space( margin-bottom, 5unit );
  }
}
