// Highlight element for the home page.

#highlight {
  @include AU-media( sm ) {
    background-image: url('../images/highlight-bg.jpg');
  }
  background-position: center top;
  background-size: cover;
  @include AU-space( margin-top, -1.5unit );
  position: relative;
  z-index: 1;
  .container {
    display: display;
    @include AU-media( sm ) {
      display: flex;
    }
  }
  .highlight-block {
    border-left: 1px solid $AU-color-background-shade-suggestion;
    display: flex;
    flex-direction: column;
    @include AU-space( margin-bottom, 2unit );
    @include AU-media ( sm ) {
      @include AU-space( margin-bottom, 3unit );
    }
    @include AU-space( padding-left, 1.5unit );
    @include AU-media( sm ) {
      @include AU-space( margin-bottom, 0 );
    }
  }
  h2 {
    @include AU-fontgrid( xl, nospace );
    font-weight: normal;
    @include AU-media( sm ) {
      @include AU-fontgrid( lg, nospace );
    }
    @include AU-media( md ) {
      @include AU-fontgrid( xl, nospace );
    }
  }
  p {
    @include AU-fontgrid( md );
    @include AU-media( sm ){
      @include AU-fontgrid( sm );}
    @include AU-media( md ) {
      @include AU-fontgrid( md );
    }
    &:last-of-type {
      @include AU-space( margin-bottom, 2unit );
    }
  }
  .link-wrapper {
    @include AU-space( margin-top, auto );
  }
  .au-btn {
    @include AU-fontgrid( sm );
    @include AU-media( md ) {
      @include AU-fontgrid( md );
    }
  }
  @include AU-space( padding-top, 3unit );
  @include AU-media( sm ) {
    @include AU-space( padding-top, 15unit );
    @include AU-space( padding-bottom, 15unit );
  }
}
