// Highlight element for the home page.

#highlight {
  background-image: url('../images/home-vision-priority.png');
  background-position: center top;
  background-size: cover;
  .container {
    display: display;
    @include AU-media( sm ) {
      display: flex;
    }
  }
  .highlight-block {
    border-left: 1px solid $AU-color-background-shade-suggestion;
    display: flex;
    flex-direction: column;
    @include AU-space( margin-bottom, 3unit );
    @include AU-space( padding-left, 1.5unit );
    @include AU-media( sm ) {
      @include AU-space( margin-bottom, 0 );
    }
  }
  h2 {
    @include AU-fontgrid( xl, nospace );
    font-weight: normal;
  }
  p:last-of-type {
    @include AU-space( margin-bottom, 2unit );
  }
  .link-wrapper {
    @include AU-space( margin-top, auto );
  }
  @include AU-space( padding-top, 3unit );
  @include AU-media( sm ) {
    @include AU-space( padding-top, 15unit );
    @include AU-space( padding-bottom, 15unit );
  }
}
