// Highlight element for the home page.

#highlight {
  background-image: url('../images/home-vision-priority.png');
  background-position: center top;
  background-size: cover;
  .container {
    display: display;
    @include AU-media( sm ) {
      display: flex;
    }
  }
  h2 {
    @include AU-fontgrid( xl, nospace );
    font-weight: normal;
  }
  p {
    &:last-of-type {
      @include AU-space( margin-top, 3unit );
    }
    &:nth-last-child(2) {
      @include AU-space( margin-bottom, auto );
    }
  }
  @include AU-space( padding-top, 3unit );
  @include AU-media( sm ) {
    @include AU-space( padding-top, 15unit );
    @include AU-space( padding-bottom, 15unit );
  }
  .highlight-block {
    border-left: 1px solid $Main_Background;
    display: flex;
    flex-direction: column;
    @include AU-space( margin-bottom, 3unit );
    @include AU-media( sm ) {
      @include AU-space( margin-bottom, 0 );
    }
  }
}
