// Styles for the mid-bottom block on the home page.
#mid-bottom-content {
  background-image: none;
  @include AU-media ( md ) {
    background-image: url('../images/mid-bottom-bg.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: -40%;
  }
  @include AU-media ( lg ) {
    background-size: contain;
    background-position: right 25%;
  }
  .row {
    background-color: $AU-colordark-background;
  }
  h2 {
    font-weight: normal;
    @include AU-fontgrid( xl );
    @include AU-space( margin-top, 4unit );
  }
  p {
    @include AU-space( margin-top, 1.25unit );
    @include AU-fontgrid( md );
    @include AU-media( md ) {
      @include AU-space( margin-right, 2unit );
    }
    &:last-child {
      @include AU-space( margin-top, 0 );
    }
  }
  .au-btn {
    @include AU-space( margin-top, 4unit );
    @include AU-space( margin-bottom, 5unit );
  }
}
