// Styles for the mid-top-content element on the home page.

#mid-top-content {
  @include more-link();
  .container {
    @include AU-space( margin-bottom, 2unit );
  }
  @include AU-space( padding-bottom, 5unit );
  @include AU-space( padding-top, 5unit );
  .au-card-list {
    @include AU-card-cta-link($AU-color-foreground-text);
  }
  .au-body {
    background-color: transparent;
  }
  .au-card {
    @include AU-space( padding, 2unit );
    * {
      font-weight: normal;
    }
    .au-card__text {
      @include AU-space( margin-bottom, auto );
      @include AU-space( margin-top, 0 );
    }
  }
  h2 {
    font-weight: normal;
    @include AU-space( margin-bottom, 5unit  );
  }
  .au-card__title {
    font-weight: normal;
    @include AU-space( margin-top, 1.5unit );
    @include AU-space( margin-bottom, 1.5unit );
    text-decoration: underline;
  }
  .au-card__image {
    @include AU-space( max-height, 13unit );
    overflow: hidden;
    img {
      @extend .au-responsive-media-img;
      height: 100%;
    }
  }
  .au-card__title {
    @include AU-space( margin-bottom, 1.5unit );
    text-decoration: underline;
    text-decoration-color: currentColor;
    transition: text-decoration-color 0.3s ease-in-out;
  }

  .au-cta-link:hover {
    .au-card__title {
      text-decoration-color: transparent;
    }
  }
}
