{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<a id="toggle-icon" class="toggle responsive-menu-toggle-icon" title="Menu" href="#off-canvas">
  <span class="icon"></span><span class="label">{{ 'Open menu'|t }}</span>
</a>
