// Styles for the sidebar toggle.

.sidebar-toggle {
  display: inline-block;
  visibility: visible;
  -webkit-transform: translateZ(0);
  @include AU-media( md ) {
    display: none;
    visibility: hidden;
  }
  @include AU-space( margin, 1unit 0 );
  @include AU-fontgrid( sm );
  @include AU-space( padding-left, 2.5unit );
  background-image: url('../images/filter.png');
    background-repeat: no-repeat;
    background-position: center left;
    &:target {
      outline: none;
    }
    &:focus {
      @include AU-outline();
    }
}
