// Style for the filter wrapper (sidebar)

.sidebar {
  position: fixed;
  background-color: $AU-color-foreground-background;
  @include AU-space( left, -28unit );
  @include AU-space( padding, 0.5unit 0 0 0.5unit );
  top: 0px;
  height: auto;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease;
  z-index: 400;
  @include AU-media( md ) {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    overflow-y: visible;
    overflow-x: visible;
    @include AU-space( padding, 0 );
  }
  &:target,
  &[aria-expanded="true"] {
    outline: none;
    @include AU-space( left, 0unit );
    .menu-close {
      z-index: 401;
    }
    + .backdrop {
      position: fixed;
      display: block;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      width: 100%;
      height: 100vh;
      z-index: 399;
      overflow: visible;
      background-color: $AU-colordark-background;
      background-color: rgba( $AU-colordark-background, .85 );
      cursor: default;
    }
  }
}

@supports not ( position: fixed ) {
  .sidebar,
  .sidebar:target + .backdrop,
  .sidebar[aria-expanded="true"] + .backdrop {
    position: absolute;
    @include AU-media( md ) {
      position: relative;
    }
  }
}
