{#
/**
 * @file
 * Template to provide expert HTML for the field.
 *
 * Available variables:
 * - element: The field element.
 * - label: The label of the field.
 * - settings: The settings for the field.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 */
#}

{#
/**
 * This is just a block to create an empty div for a script to work on, which is
 * called via attach_library().
 */
#}


{% if '/join-our-team' in path('<current>') %}
  {{ attach_library('dta_gov_au/recruiterbox') }}
  <div id="recruiterbox" class="au-current-vacancies" aria-live="polite">
    <p class="warning">This section requires JavaScript to function correctly. Please visit our <a href="https://ausdta.recruiterbox.com/">recruitment portal</a> to view all open jobs.</p>
  </div>


{% endif %}
