{#
/**
 * @file
 * Template to provide expert HTML for the field.
 *
 * Available variables:
 * - element: The field element.
 * - label: The label of the field.
 * - settings: The settings for the field.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 */
#}

{#
/**
 * Block visibility settings don't hold for DS templates, so we have to do this
 * awful, awful thing here.
 */
#}

{% if '/join-our-team' in path('<current>') %}
  <div class="au-current-vacancies">
    <h2>{{- label -}}</h2>

    {% for item in items %}
     {{- item.content -}}
    {% endfor %}
  </div>


{% endif %}
