// Heading styles for the header.

h2 {
  @include AU-space( margin, 0 0 3unit 0 );
  @include AU-fontgrid( xxl );
  white-space: normal;
  color: $AU-colordark-foreground-action;
  @include AU-media( sm ) {
    white-space: nowrap;
  }
  br {
    display: none;
    @include AU-media( sm ) {
      display: inline;
    }
  }
}
