// Style for the main menu.
#block-mainnavigation-2 {
  &.au-body.au-body--dark {
    .au-link-list {
      @include AU-space( margin-bottom, 1.0625unit );
      li {
        a {
          color: $AU-colordark-foreground-action;
          text-decoration: none;
          &:hover {
            color: $AU-colordark-foreground-text;
            text-decoration: underline;
          }
          &:active,
          &.is-active {
            color: $AU-colordark-foreground-text !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Style for desktop.
@include AU-media( md ) {
  #block-mainnavigation-2 {
    display: block !important;
    visibility: visible !important;
    &.au-accordion__body {
      .js & {
    		&.au-accordion--open {
    			display: block;
    			height: auto;
    		}

    		&.au-accordion--closed {
    			display: block;
    			height: auto;
    		}
    	}
    }
    &.au-body.au-body--dark {
      .au-link-list {
        @include AU-space( padding-bottom, 0unit );
        @include AU-space( padding-top, 0unit );
        @include AU-space( margin-bottom, -0.5unit );
        display: flex;
        li {
          @include AU-fontgrid( sm, nospace );
          @include AU-space( margin, 0 0 1.5unit 0);
          @include AU-media( md ) {
            @include AU-space( margin, 0 3unit 0 0 );
          }
          &:last-of-type {
            margin-left: auto;
          }
          a {
            display: block;
            @include AU-space( padding-bottom, 1unit )
            border-bottom: 8px solid transparent;
            &:hover {
              border-bottom: 8px solid $AU-colordark-foreground-text;
            }
            &:active,
            &.is-active {
              border-bottom: 8px solid $AU-colordark-foreground-text;
            }
          }
        }
      }
    }
  }
}
