{#
/**
 * @file
 * Default theme implementation of the Superfish menus.
 *
 * Available variables:
 * - id: Unique menu identifier.
 * - menu_classes: Menu classes.
 * - menu_items: Menu tree.
 *
 * @see template_preprocess_superfish()
 *
 * @ingroup themeable
 */
#}
<nav role="navigation" aria-labelledby="main-navigation-label">
  <h2 class="visually-hidden" id="main-navigation-label">Main navigation</h2>
  <ul id="{{ id }}" role="menu" aria-labelledby="main-navigation-label" class="{{ menu_classes }} au-link-list au-link-list--inline">
    {{ menu_items }}
  </ul>
</nav>
